* {
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
    background: #75271C;
    color: #000;
    font-family: Verdana, Arial, sans-serif;
    font-size: 100%;
    margin: auto;
    margin: 50px 100px;
}

header{
  margin: 0px 300px;
}

.jumbotron {
    padding: 20px;
}

# container {
  max-width: 100%;
}


article {
  background: #E9E8EB;
  width: 900px;
  margin: auto;
  padding: 25px;
}




@media (max-width: 800px) {

  article { width: 100%; }
            /*aside { margin: 0; }*/
}
